<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style></style>
    <title> BookDuck²::회원가입 </title>
</head>

<body>

<div class="find-info">

    <div>
        <label for="findemail"> 회원정보 찾기</label>
        <input type="email" id="findemail" name="mail" placeholder="가입한 이메일을 입력하세요" required autocomplete="off">
    </div>

    <input type="button" class="btn btn-findid" value="아이디찾기">
    <input type="button" class="btn btn-findinfo" value="비번찾기">

</div>

</body>