<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/member/mypage.css">
    <script src="https://kit.fontawesome.com/116a85af51.js" crossorigin="anonymous"></script>
    <style>
    </style>
    <title> BookDuck²::My Page </title>
</head>
<body>
<body>
<div th:replace="~{fragments/therdHeader :: bodyHeader}" ></div>
<div class="container">
<div class="profile_img_box">
    <div class="profile_img"> <img id="useroriginimg" src="/img/bookduck_login.png"> </div>
    <div class="btn_circle yellow fix" onclick="location.href='/userupdate'"><i class="fa-solid fa-pen icon_white"></i></div>
    <input type="hidden" id="originImg" th:value="${session.loginuser.img}">
</div>
<div class="nickname dark_blue2" th:text="${session.loginuser.nickName}+' 님'"></div>
<div class="my_crew box light_blue">
    <div class="title dark_blue2">MY CREW<div class="line_long dark_blue1"></div></div>
    <div class="box_temp">
    <div class="crew_list">
        <!--each로 반복-->
        <div class="crew_one">
            <div class="crew_book_img"></div>
            <div class="crew_tag">CREW</div>
            <div class="crew_name">독서 어벤저스</div>
        </div>
        <div class="crew_one">
            <div class="crew_book_img"></div>
            <div class="crew_tag">CREW</div>
            <div class="crew_name">독서 어벤저스</div>
        </div>
        <div class="crew_one">
            <div class="crew_book_img"></div>
            <div class="crew_tag">CREW</div>
            <div class="crew_name">독서 어벤저스</div>
        </div>
        <!--each로 반복-->
    </div>
        <div class="box_side">
            <button class="more btn_mini blue">더보기</button>
        </div>
    </div>
</div>
<div class="my_book box light_yellow">
    <div class="title dark_yellow2">MY BOOK<div class="line_long dark_yellow1"></div></div>
    <div class="box_temp">
    <div class="book_list">
        <!--each로 반복-->
        <div class="book_one">
            <div class="book_img"></div>
        </div>
        <div class="book_one">
            <div class="book_img"></div>
        </div>
        <div class="book_one">
            <div class="book_img"></div>
        </div>
        <!--each로 반복-->
    </div>
        <div class="box_side">
            <button class="more btn_mini yellow">더보기</button>
        </div>
    </div>
</div>

<button class="logout btn_long yellow" onclick="location.href='/logout'">LOGOUT</button>
</div>
</body>
</html>

<script src="https://code.jquery.com/jquery-3.6.3.js"></script>
<script>
    const originImg = document.getElementById('originImg').value;

    if (originImg.length != 0) {
        // 이미지 URL 설정
        $('#useroriginimg')
            .attr("src", "/image/getimg?fileName=" + encodeURIComponent(originImg))
            .on("load", function () {
                //console.log("Image loaded successfully: " + originImg);
            })
            .on("error", function () {
                console.log("Image failed to load: " + originImg);
                $(this).attr("src", "/img/bookduck_login.png");
            });
    } else {
        $('#useroriginimg').attr("src", "/img/bookduck_login.png"); // 기본 이미지 설정
    }


</script>