<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
  <title> BookDuck²::LOGIN </title>
</head>
<body>

<div class="container">
  <!--processImg: 페이지 하나 다 차지하는 이미지 클래스-->
  <div class="processImg"><img src="/static/img/bookduck_login.png"></div>
  <div class="logo" onclick="location.href='/home'">BookDuck²</div>
  <input type="text" placeholder="ID를 입력해주세요">
  <input type="text" placeholder="PASSWORD를 입력해주세요">
  <button class="login blue btn_long">로그인</button>
  <div class="aboutId">
    <div class="saveId"> <input type="checkbox"> 아이디 저장 </div>
    <div class="findId">아이디 또는 비밀번호 찾기</div>
  </div>
  <div class="socialLogin">
    <div class="naverLogin"><img src=""></div>
    <div class="googleLogin"><img src=""></div>
  </div>
  <button class="userJoin yellow btn_long">회원가입</button>
</div>

</body>
</html>