<!DOCTYPE html>
<html lang="en">
<head>
  <script src="https://kit.fontawesome.com/116a85af51.js" crossorigin="anonymous"></script>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
  </style>
  <title>그룹생성</title>
</head>
<body>
<div class="container">
  <div class="profile_box">
    <div class="crown"><i class="fa-solid fa-crown"></i></div>
    <div class="profile_img"><img src=""></div>
  </div>
  <div class="leader_nickname">Leader 닉네임 님</div>
  <div class="box_line"><input type="text" class="crew_name" placeholder="모임이름(2~7자 이내 한글, 영대소문자)"></div>
  <div class="box_line"><input type="text" class="crew_member" placeholder="CREW원의 닉네임을 검색하세요">
    <div class="btn_search btn_circle yellow"><i class="fa-solid fa-magnifying-glass"></i></div>
  </div>
  <div class="box">
    <div class="title">CREW<div class="line dark_blue2"></div></div>
    <div class="new_member">
      <div class="member_box">
        <div class="memeber_img"><img src=""></div>
        <div class="member_name">새 멤버 이름</div>
      </div>
    </div>
  </div>
  <div class="box_line"><input type="text" class="crew_book" placeholder="추가할 도서를 검색하세요">
    <div class="btn_search btn_circle yellow"><i class="fa-solid fa-magnifying-glass"></i></div>
  </div>
  <div class="box">
    <div class="title">BOOK<div class="line dark_blue2"></div></div>
    <div class="new_book">
      <div class="book_img"><img src=""></div>
      <div class="book_ingo">
        <div class="book_title">책 이름</div>
        <div class="book_writer">저자</div>
        <div class="book_publish">출간연도</div>
      </div>
    </div>
  </div>
  <button class="make_crew yellow btn_long">CREW 생성완료</button>
</div>
</body>
</html>