<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >

<header th:fragment="bodyHeader">
<!--    <div class="menu" onclick="location.href='/member/members'"> 회원목록</div>
    <div class="menu" onclick="location.href='/member'"> 회원추가 </div>
    <div class="menu" onclick="location.href='/study'"> 공부 기록 등록</div>
    <div class="menu" onclick="location.href='/study/records'"> 공부 기록 목록 </div>-->
    <div class="header_top">
        <img class="home" src="" href="/member/members">
        <div class="top_menu">
            <img class="cart" src="" href="/member/members">
            <img class="myPage" src="" href="/member/members">
        </div>
    </div>
    <div class="header_bottom">
        <a class="menu" href="/member/members">다 읽었어요</a>
        <a class="menu" href="/member/members">명예의 전당</a>
        <a class="menu" href="/member/members">북덕이 서점</a>
    </div>
</header>
</html>