<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<script src="https://kit.fontawesome.com/116a85af51.js" crossorigin="anonymous"></script>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
    /* Fontawesome 4.7 */
    @import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
    .btn_haeder{
        width: 25px;
        height: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        cursor: pointer;
    }
    .back{
        background: lightgray;
    }
    .icon_white{
      color: white;
    }
</style>

<header th:fragment="bodyHeader">
    <div class="header_three">
        <div class="btn_haeder back" onclick="history.back()">
            <i class="fa-solid fa-rotate-left icon_white"></i>
        </div>
    </div>
</header>
</html>
