<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header}">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
    </style>
    <title> BookDuck² </title>
</head>
<body>
<div th:replace="~{fragments/mainHeader :: bodyHeader}" ></div>
<div class="line_point">
    <div class="line"></div>9
    <div class="point_menu"></div>
</div>
<!--<section class="content">
    <div class="container">
       &lt;!&ndash; <img class="make_crew">&ndash;&gt;
        <div class="serch_box">
            <input class="input_serch" type="text">
&lt;!&ndash;            <img class="icon_serch" src="" href="/member/members">&ndash;&gt;
        </div>
        <div class="fake_toggle">
            <div class="toggle_allBook">모든 책 최신순 보기</div>
            <div class="fake_toggle_bar"></div>
            <div class="toggle_myBook">내가 보유한 책 보기</div>
            <div class="board_list">
                <div class="board" th:if="${list.isEmpty()}">
                    교환독서를 공개한 CREW가 없습니다.
                </div>
                <div class="board" th:if="${!list.isEmpty()}" th:each="board : ${list}">
                    <img th:src="${board}">
                    <p th:text="${board}">크루이름<span>crew</span></p>
                    <p th:text="${board}">도서이름</p>
                    <img src="">&lt;!&ndash;하트 이모티콘&ndash;&gt;
                    <p th:text="${board}">0</p>
                </div>
            </div>
        </div>
    </div>
</section>
&lt;!&ndash; /container &ndash;&gt;-->
</body>
<footer th:replace="~{fragments/footer :: footer}"></footer>
</html>